.navbar.navbar-expand-sm {
  height: 64px;
}

.navbar.navbar-expand-sm > .container {
  padding: 0px;
}

.navbar-brand.collapse {
  margin-left: 24px;
}

nav.container {
  height: 64px;
}

ul.nav {
  height: 64px;
}

@media (min-width: 992px) {
  div.d-grid.banner-right {
    width: 75%;
  }
}

article.bg-secondary.bg-opacity-25 {
  top: 64px;
}

section.text-bg-light.position-relative {
  top: 64px;
}